# Data comprehension
Practice working with list comprehension, dictionary comprehension and set comprehension following Lec 11

**Ques 1:**
You are given the list below, make column 0(the words) the key for a dictionary with the values as the rest of the list.

```
list_pos = [
    ['drawer', 141, 2, 3],
    ['hedge', 213, 1, 6],
    ['pantry', 328, 1, 7]
]

list_pos

# You output should be:

{'drawer': [141, 2, 3], 'hedge': [213, 1, 6], 'pantry': [328, 1, 7]}

```

Requirement: Do both traditional loops and list comprehensions.

In [3]:
#postion of a word in a dictionary
list_pos = [
    ['drawer', 141, 2, 3],
    ['hedge', 213, 1, 6],
    ['pantry', 328, 1, 7]
]

list_pos

[['drawer', 141, 2, 3], ['hedge', 213, 1, 6], ['pantry', 328, 1, 7]]

In [6]:
dct = {}

for x in list_pos:
  dct.update({x[0]: [x[1], x[2], x[3]]})

dct

{'drawer': [141, 2, 3], 'hedge': [213, 1, 6], 'pantry': [328, 1, 7]}

In [9]:
new_dct = {x[0]: [x[1], x[2], x[3]] for x in list_pos}
new_dct

{'drawer': [141, 2, 3], 'hedge': [213, 1, 6], 'pantry': [328, 1, 7]}

**Ques 2:** You are given the dictionary below, combine the keys(the words) and the values inside the dictionary and create a list.

You output should be:



```
dictionary_pos = {
    'drawer': [141, 2, 3],
    'hedge': [213, 1, 6],
    'pantry': [328, 1, 7]
}

dictionary_pos

# Your output should:

[['drawer', 141, 2, 3], ['hedge', 213, 1, 6], ['pantry', 328, 1, 7]]
```

Requirement: Do both traditional loops and list comprehensions.

In [10]:
#Your turn:
#postion of a word in a dictionary
dictionary_pos = {
    'drawer': [141, 2, 3],
    'hedge': [213, 1, 6],
    'pantry': [328, 1, 7]
}

dictionary_pos

{'drawer': [141, 2, 3], 'hedge': [213, 1, 6], 'pantry': [328, 1, 7]}

In [18]:
lst = []

for x in dictionary_pos:
  lst.append(dictionary_pos.get(x))

lst

[['drawer', 141, 2, 3], ['hedge', 213, 1, 6], ['pantry', 328, 1, 7]]

In [19]:
new_list = [dictionary_pos.get(x) for x in dictionary_pos]

new_list

[['drawer', 141, 2, 3], ['hedge', 213, 1, 6], ['pantry', 328, 1, 7]]

**Ques 3:** Use list comprehension to rewrite the code, it can be done in one line (and you do not even need an if statement)

```
result = []
myList = list(range(0, 13))
for i in range(6, len(myList)):
    if i%2 == 0:
        result.append(i)

result
```

In [23]:
result = [x for x in list(range(0, 13)) if (x % 2 == 0) & (x >= 6)]
result

[6, 8, 10, 12]

**Ques 4a:** Use the following code to perform the tasks given below:



```
set_a = {1, 2, 3, "a", "b", "c"}
set_b = {2, 3, 4, "c", "d"}
set_c = {2, 3, 'd', "t", "a"}
```

In [24]:
set_a = {1, 2, 3, "a", "b", "c"}
set_b = {2, 3, 4, "c", "d"}
set_c = {2, 3, 'd', "t", "a"}

In [49]:
# The follow code is supposed to return the different elements in both sets of union_ab and set_a but not both of them.
union_ab = set_a.union(set_b)
result = union_ab.symmetric_difference(set_a)
result

{4, 'd'}

In [27]:
# Elements that occur just in set c and not in set a
result = set_c.difference(set_a)
result

{'d', 't'}

**Ques 4b:** This piece of code will work the same as which of the following options:


```
difference_A = []
for a in set_c:
  if(not(a in set_a)):
    difference_A.append(a)

print(difference_A)
```

In [50]:
#Rewrite the code:

#A) difference = union_ab | set_a
difference_1 = [x for x in union_ab]
print(difference_1)
#B) difference = set_a - union_ab
difference_2 = [x for x in set_a if x not in union_ab]
print(difference_2)
#C) difference = union_ab ^ set_a
difference_3 = [x for x in union_ab if x not in set_a]
print(difference_3)

[1, 2, 3, 4, 'a', 'b', 'd', 'c']
[]
[4, 'd']

**Ques 5:** A procedural function called GC_content(data).
Find the GC percentage for each of the elements in dna_list.
data is the list, dna_list.

In [34]:
dna_list = ['GAAGTC', 'CGATATGC', 'GTCA', 'CGGACAGTAG']

In [42]:
def GC_content(data):
  GC_content = 0
  for x in data:
    GC_content = (x.count('G') + x.count('C')) / len(x) * 100
    print(x + ':', GC_content)
GC_content(dna_list)

GAAGTC: 50.0
CGATATGC: 50.0
GTCA: 50.0
CGGACAGTAG: 60.0